.login-wrap,
.maintain-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 15%;
  left: calc(50% - 540px / 2);
  width: 540px;
  height: 408px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  background-color: #ffb80c;
}

.kv {
  width: 250px;
  height: 100%;
  // background: #ffb80c url(assets/images/bg-login_wrap.png) no-repeat;
  border-radius: 8px 0 0 8px;
}

.login-panel {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  color: #243a48;
  margin: 0 34px;
  position: relative;
  top: 25%;

  dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  dd {
    position: relative;
    width: 220px;
  }

  input {
    width: 100%;
    height: 33px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #aaa;
    box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-bottom: 7px;
  }

  .btn-send {
    width: 218px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    margin: 15px 0 0;
  }

  .header {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

.error {
  color: #d0021b;
  font-size: 13px;
  line-height: 16px;
  margin-top: 12px;
}

.captcha-group {
  position: relative;

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-70%);
  }
}
