<div class="full-wrap">
  <div class="analysis-list">
    <div class="analysis-item" *ngFor="let l of [1, 1,1,1,1,1,1,1,1,1,1]">
      <div class="analysis-header">
        <a
          routerLink="reportbet"
          class="label-control match-label"
          style="text-align: center"
          >Western Sydney Wanderers v Brisbane Roar - Match Odds
        </a>
      </div>
      <div class="body">
        <div class="runner">
          <div>Western Sydney Wande</div>
          <div class="volume profit-text">27,542.27</div>
        </div>
        <div class="back">2.68</div>
        <div class="lay">2.72</div>
        <div class="runner">
          <div>Brisbane Roar</div>
          <div class="volume loss-text">-112,308.65</div>
        </div>
        <div class="back">4</div>
        <div class="lay">4.1</div>
        <div class="runner">
          <div>The Draw</div>
          <div class="volume profit-text">9914.149</div>
        </div>
        <div class="back">2.58</div>
        <div class="lay">2.6</div>
        <div class="runner">Total Bets</div>
        <div class="bets">20</div>
      </div>
    </div>
  </div>
</div>
