$primary: #444;
$accent: #ffb80c;

$back: rgb(130, 255, 182);
$lay: rgb(123, 200, 255);

$profit: rgb(17, 232, 17);
$loss: rgb(239, 134, 172);

@mixin button {
  background: #eee url("assets/images/bg-btn.gif") repeat-x;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #1e1e1e;
  font-weight: bold;
  line-height: 23px;
  font-size: 12px;
  // margin: 0 5px 10px 0;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: 0;
  font-family: Tahoma, Helvetica, sans-serif;

  &:hover {
    text-decoration: none;
    background: #fff url("assets/images/bg-btn_hover.gif") repeat-x;
  }
}

.button {
  @include button();
}

.btn-cancel {
  @include button;
  background:rgb(241, 62, 62);
  color: rgb(68, 68, 68);
}

.back {
  background-color: $back;
}

.back1 {
  background-color: lighten($color: $back, $amount: 5%);
}

.back2 {
  background-color: lighten($color: $back, $amount: 10%);
}

.back3 {
  background-color: lighten($color: $back, $amount: 15%);
}

.lay {
  background-color: $lay;
}


.lay1 {
  background-color: lighten($color: $lay, $amount: 5%);
}

.lay2 {
  background-color: lighten($color: $lay, $amount: 10%);
}

.lay3 {
  background-color: lighten($color: $lay, $amount: 15%);
}

.profit-text {
  color: $profit;
}

.loss-text {
  color: $loss;
}
